<table>
    <tr>
        <td colspan="3">
            <span>Search all by keyword</span>
            <input ng-model="keyWord" type="text">
            <input type="button" value="Search" ng-click="searchAll()">

            <span>Search books by title</span>
            <input ng-model="bookTitle" type="text">
            <input type="button" value="Search" ng-click="searchBooksByTitle()">

            <span>Search authors by name</span>
            <input ng-model="authorName" type="text">
            <input type="button" value="Search" ng-click="searchAuthorsByName()">
        </td>
    </tr>
    <tr>
        <td width="50%">
            <table>
                <tr>
                    <td ng-repeat="book in books">
                        <a href="#book/{{book.id}}"><img src="images/{{book.file}}" height="100px"/></a>
                        <h4>{{book.title}}</h4>
                        <h5 ng-repeat="author in book.authors">{{author.firstName + " " + author.lastName}}</h5>
                    </td>
                </tr>
            </table>

        </td>
        <td width="50%">
            <table>
                <tr>
                    <td ng-repeat="author in authors">
                        <a href="#author/{{author.id}}"><img src="images/{{author.file}}" height="100px"/></a>
                        <h4>{{author.firstName + " " + author.lastName}}</h4>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>