<script type="text/ng-template" id="parent.html">
    {{parent.name}}
    <ul ng-if="parent.parent != null">
        <li ng-init="parent = parent.parent" ng-include="'parent.html'"></li>
    </ul>
</script>
<ul ng-repeat="parent in categories">
    <li ng-include="'parent.html'"></li>
</ul>
<h1>{{book.title}}</h1>
<img src="images/{{book.image}}" alt="{{book.title}}">
<ul ng-repeat="author in book.authors">
    <a href="#author/{{author.id}}"><li>{{author.firstName + " " + author.lastName}}</li></a>
</ul>
<h3>{{book.year}}</h3>
<h4>{{book.description}}</h4>