<script type="text/ng-template"  id="categories_tree.html">
    {{category.name}}
    <span ng-repeat="category in category.children" ng-include="'categories_tree.html'"></span>
</script>
    <div ng-repeat="category in categories" ng-include="'categories_tree.html'"></div>
<h1>{{book.title}}</h1>
<img src="images/{{book.image}}" alt="{{book.title}}">
<ul ng-repeat="author in book.authors">
    <a href="#author/{{author.id}}"><li>{{author.firstName + " " + author.lastName}}</li></a>
</ul>
<h3>{{book.year}}</h3>
<h4>{{book.description}}</h4>
<span ng-repeat="tag in book.tags">
    <span>{{tag.title}} </span>
</span>